/* General/universal styling */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-size: cover;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  .Text-header-news {
    background-color: crimson;
    padding: 0.2rem 0.55rem;
    border-radius: 6px;
  }
}

.nav-items {
  display: flex;
  gap: 1rem;
  position: relative;
}

.themeToggle {
  position: absolute;
  top: -0.1rem;
}

.errorMsg {
  color: red;
  text-align: center;
}

.not-found-err {
  color: orange;
  text-align: center;
}
